# Porta em que o servidor NodeJS vai rodar
PORT=3000

# String de conexão do banco de dados (Ajuste usuário, senha e nome do banco)
DATABASE_URL="postgresql://usuario:senha@localhost:5432/ic_game_db"

